In [333]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("house_data_price_outlier_remove.csv",index_col="Unnamed: 0" )
zips = pd.read_csv("Belgium_zip_municipalities.txt", sep="\t")
zips = zips.iloc[:,1:3]
zips.columns = ["Zip_code", "city"]
pd.options.display.float_format = '{:.0f}'.format
print(df.shape)
df = df.drop_duplicates(["Area", "Price", "State_of_building", "Zip_code","Land_surface", "Garden_surface"])
print(df.shape)
df.to_csv("house_data_ultimate_cleaned")
print(df.columns)
print(zips.columns)

(8237, 18)
(7801, 18)
Index(['Area', 'Price', 'State_of_building', 'Facades', 'Bedrooms', 'Kitchen',
       'Furnished', 'Open_fire', 'Zip_code', 'Land_surface', 'Terrace',
       'Terrace_surface', 'Swimming_pool', 'Subtype_property', 'Garden',
       'Garden_surface', 'Regions', 'Price_per_square_meter'],
      dtype='object')
Index(['Zip_code', 'city'], dtype='object')

In [334]:
# Dropping outlier
df.drop(df[df["Zip_code"] == 1404].index,inplace=True)

In [335]:
# Grouping into municipalities.
def rounding_down(x):
    rest = x % 10
    if rest != 0:
        return x - rest
    else:
        return x

df["municipalities"] = df["Zip_code"].apply(lambda x: rounding_down(x))
df["municipalities"]

0       3290
1       2070
2       8800
3       8000
4       8800
        ...
8328    4280
8329    4040
8330    7390
8331    4470
8332    9290
Name: municipalities, Length: 7801, dtype: int64

In [336]:
# Dropping if only 5 valid price rows
threshold = 5
value_counts = df.municipalities.value_counts()
to_remove = list(value_counts[value_counts <= threshold].index)
df_threshold = df.copy()

for label, row in df_threshold.iterrows():
    if row.municipalities in to_remove:
        df_threshold.drop(index=label, inplace=True)

print(df.shape)

(7801, 19)

In [337]:
# Function top 5
def make_top_5(df, postal_column:str, on_what:str, method:str, top_or_bottom:str) -> str:
    number_of_values = 5
    if top_or_bottom == "top":
        dct = dict()
        postal_on_what = df.groupby(postal_column).agg({on_what:method})
        postal_on_what = postal_on_what.sort_values(on_what, ascending=False)[:number_of_values]
        postal_on_what.reset_index(level=0, inplace=True)
        df_with_cities = postal_on_what.merge(zips, right_on="Zip_code", left_on="municipalities", how="left")
        """print(df_with_cities)"""
        df_with_cities = df_with_cities.drop_duplicates("Zip_code", keep="first")
        df_with_cities = df_with_cities.drop("municipalities", axis=1)
        if on_what == "Price_per_square_meter":
            df_with_cities = df_with_cities[["Zip_code", "city", on_what]]
            df_with_cities.columns = ["Zip_code", "municipality", on_what]
        else:
            df_with_cities = df_with_cities[["Zip_code", "city", on_what]]
            df_with_cities.columns = ["Zip_code", "municipality", f"{on_what}_{method}"]
        df_with_cities.index = [x for x in range(1,number_of_values+1)]
        return df_with_cities
    elif top_or_bottom == "bottom":
        dct = dict()
        postal_on_what = df.groupby(postal_column).agg({on_what:method})
        postal_on_what = postal_on_what.sort_values(on_what, ascending=True)[:number_of_values]
        postal_on_what.reset_index(level=0, inplace=True)
        df_with_cities = postal_on_what.merge(zips, right_on="Zip_code", left_on="municipalities", how="left")
        """print(df_with_cities)"""
        df_with_cities = df_with_cities.drop_duplicates("Zip_code", keep="first")
        df_with_cities = df_with_cities.drop("municipalities", axis=1)
        if on_what == "Price_per_square_meter":
            df_with_cities = df_with_cities[["Zip_code", "city", on_what]]
            df_with_cities.columns = ["Zip_code", "municipality", on_what]
        else:
            df_with_cities = df_with_cities[["Zip_code", "city", on_what]]
            df_with_cities.columns = ["Zip_code", "municipality", f"{on_what}_{method}"]
        df_with_cities.index = [x for x in range(1,number_of_values+1)]
        return df_with_cities
    else:
        raise ValueError("""
Unexpected argument.
Expected 'top' or 'bottom'""")

In [338]:
# Most expensive mean - By price - Belgium

top5_price_Belgium_mean = make_top_5(df_threshold, "municipalities", "Price", "mean", "top")
top5_price_Belgium_mean

   Zip_code        municipality  Price_mean
1      1640  Rhode-Saint-Genèse     1682692
2      1180               Uccle     1537943
3      8300        Knokke-Heist     1373209
4      1950            Kraainem     1276667
5      1050             Ixelles     1238990

In [339]:
# Most expensive median - By price - Belgium
top5_price_Belgium_median = make_top_5(df_threshold, "municipalities", "Price", "median", "top")
top5_price_Belgium_median

   Zip_code        municipality  Price_median
1      1640  Rhode-Saint-Genèse       1745000
2      1180               Uccle       1492500
3      8300        Knokke-Heist       1190000
4      1050             Ixelles       1070000
5      2000           Antwerpen        995000

In [340]:
# Most expensive mean - By € / SQM - Belgium
top5_sqm_Belgium_mean = make_top_5(df_threshold, "municipalities", "Price_per_square_meter", "mean", "top")
top5_sqm_Belgium_mean

   Zip_code         municipality  Price_per_square_meter
1      8300         Knokke-Heist                    5458
2      1180                Uccle                    4131
3      1640   Rhode-Saint-Genèse                    3883
4      1150  Woluwe-Saint-Pierre                    3848
5      1970      Wezembeek-Oppem                    3785

In [341]:
# Only Flanders DataFrame
df_threshold_Flanders = df_threshold[df_threshold["Regions"] == "Flanders"]

In [342]:
# Most expensive mean - By price - Flanders
top5_price_Flanders_mean = make_top_5(df_threshold_Flanders, "municipalities", "Price", "mean", "top")
top5_price_Flanders_mean

   Zip_code        municipality  Price_mean
1      1640  Rhode-Saint-Genèse     1682692
2      8300        Knokke-Heist     1373209
3      1950            Kraainem     1276667
4      3080            Tervuren     1149362
5      2970      'S Gravenwezel     1111000

In [343]:
# Most expensive median - By price - Flanders
top5_price_Flanders_median = make_top_5(df_threshold_Flanders, "municipalities", "Price", "median", "top")
top5_price_Flanders_median

   Zip_code        municipality  Price_median
1      1640  Rhode-Saint-Genèse       1745000
2      8300        Knokke-Heist       1190000
3      2000           Antwerpen        995000
4      3140          Keerbergen        935000
5      1560           Hoeilaart        920000

In [344]:
# Most expensive mean - By € / SQM - Flanders
top5_sqm_Flanders_mean = make_top_5(df_threshold_Flanders, "municipalities", "Price_per_square_meter", "mean", "top")
top5_sqm_Flanders_mean

   Zip_code        municipality  Price_per_square_meter
1      8300        Knokke-Heist                    5458
2      1640  Rhode-Saint-Genèse                    3883
3      1970     Wezembeek-Oppem                    3785
4      3000              Leuven                    3557
5      1950            Kraainem                    3439

In [345]:
# Only Wallonia DataFrame
df_threshold_Wallonia = df_threshold[df_threshold["Regions"] == "Wallonia"]

In [346]:
# Most expensive mean - By price - Wallonia
top5_price_Wallonia_mean = make_top_5(df_threshold_Wallonia, "municipalities", "Price", "mean", "top")
top5_price_Wallonia_mean

   Zip_code municipality  Price_mean
1      1380        Lasne     1040419
2      1410     Waterloo      994451
3      7520    Templeuve      792500
4      1310     La Hulpe      759292
5      6280    Gerpinnes      743875

In [347]:
# Most expensive median - By price - Wallonia
top5_price_Wallonia_median = make_top_5(df_threshold_Wallonia, "municipalities", "Price", "median", "top")
top5_price_Wallonia_median

   Zip_code municipality  Price_median
1      1380        Lasne        895000
2      7520    Templeuve        842500
3      1410     Waterloo        820000
4      1370     Jodoigne        589500
5      1330    Rixensart        580000

In [348]:
# Most expensive mean - By € / SQM - Wallonia
top5_sqm_Wallonia_mean = make_top_5(df_threshold_Wallonia, "municipalities", "Price_per_square_meter", "mean", "top")
top5_sqm_Wallonia_mean

   Zip_code                municipality  Price_per_square_meter
1      1380                       Lasne                    3170
2      1410                    Waterloo                    3053
3      1330                   Rixensart                    2951
4      1440           Braine-Le-Château                    2665
5      1340  Ottignies-Louvain-La-Neuve                    2650

In [349]:
# Least expensive mean - By price - Belgium
low5_price_Belgium_mean = make_top_5(df_threshold, "municipalities", "Price", "mean", "bottom")
low5_price_Belgium_mean

   Zip_code  municipality  Price_mean
1      6020      Dampremy      129800
2      7340   Colfontaine      130429
3      7390     Quaregnon      138768
4      6200   Châtelineau      149582
5      6870  Saint-Hubert      152250

In [350]:
# Least expensive median - By price - Belgium
low5_price_Belgium_median = make_top_5(df_threshold, "municipalities", "Price", "median", "bottom")
low5_price_Belgium_median

   Zip_code  municipality  Price_median
1      6020      Dampremy        109950
2      7340   Colfontaine        110000
3      6870  Saint-Hubert        122500
4      7390     Quaregnon        124500
5      7370          Dour        141250

In [351]:
# Least expensive mean - By € / SQM - Belgium
low5_sqm_Belgium_mean = make_top_5(df_threshold, "municipalities", "Price_per_square_meter", "mean", "bottom")
low5_sqm_Belgium_mean

   Zip_code  municipality  Price_per_square_meter
1      6020      Dampremy                     733
2      6870  Saint-Hubert                     802
3      6590     Momignies                     868
4      7370          Dour                     872
5      6690      Vielsalm                     877

In [352]:
# Least expensive mean - By price - Flanders
low5_price_Flanders_mean = make_top_5(df_threshold_Flanders, "municipalities", "Price", "mean", "bottom")
low5_price_Flanders_mean

   Zip_code municipality  Price_mean
1      8950   Heuvelland      224167
2      3640      Kinrooi      238889
3      8520       Kuurne      246125
4      8650    Houthulst      249896
5      8920    Langemark      259488

In [353]:
# Least expensive median - By price - Flanders
low5_price_Flanders_median = make_top_5(df_threshold_Flanders, "municipalities", "Price", "median", "bottom")
low5_price_Flanders_median

   Zip_code municipality  Price_median
1      8950   Heuvelland        224500
2      8650    Houthulst        232000
3      2660      Hoboken        239000
4      8580      Avelgem        239500
5      3640      Kinrooi        241000

In [354]:
# Least expensive mean - By € / SQM - Flanders
low5_sqm_Flanders_mean = make_top_5(df_threshold_Flanders, "municipalities", "Price_per_square_meter", "mean", "bottom")
low5_sqm_Flanders_mean

   Zip_code municipality  Price_per_square_meter
1      8880      Ledegem                    1304
2      8920    Langemark                    1319
3      3640      Kinrooi                    1366
4      8650    Houthulst                    1422
5      8580      Avelgem                    1454

In [355]:
# Least expensive mean - By price - Wallonia
low5_price_Wallonia_mean = make_top_5(df_threshold_Wallonia, "municipalities", "Price", "mean", "bottom")
low5_price_Wallonia_mean

   Zip_code  municipality  Price_mean
1      6020      Dampremy      129800
2      7340   Colfontaine      130429
3      7390     Quaregnon      138768
4      6200   Châtelineau      149582
5      6870  Saint-Hubert      152250

In [356]:
# Least expensive median - By price - Wallonia
low5_price_Wallonia_median = make_top_5(df_threshold_Wallonia, "municipalities", "Price", "median", "bottom")
low5_price_Wallonia_median

   Zip_code  municipality  Price_median
1      6020      Dampremy        109950
2      7340   Colfontaine        110000
3      6870  Saint-Hubert        122500
4      7390     Quaregnon        124500
5      7370          Dour        141250

In [357]:
# Least expensive mean - By € / SQM - Wallonia
low5_sqm_Wallonia_mean = make_top_5(df_threshold_Wallonia, "municipalities", "Price_per_square_meter", "mean", "bottom")
low5_sqm_Wallonia_mean

   Zip_code  municipality  Price_per_square_meter
1      6020      Dampremy                     733
2      6870  Saint-Hubert                     802
3      6590     Momignies                     868
4      7370          Dour                     872
5      6690      Vielsalm                     877