In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df_origin = pd.read_csv('final_list_houses_dataset.csv')

In [3]:
df = df_origin.copy()

In [4]:
df.head()

,Unnamed: 0,Area [m²],Price [€],state of the building,number of facades,number of bedrooms,fully equipped kitchen,furnished,open fire,locality [zip code],surface of the land [m²],terrace,terrace surface [m²],swimming pool,type of property,subtype of property,garden,garden surface [m²]
0,0,123.0,200000,good,3.0,2.0,installed,no,NaN,3294,429.0,0,0,NaN,house,house,1,350
1,3,255.0,698000,just renovated,4.0,4.0,installed,no,NaN,2070,1210.0,0,0,NaN,house,villa,0,0
2,4,234.0,499000,as new,NaN,5.0,NaN,NaN,NaN,8800,744.0,0,0,NaN,house,villa,0,0
3,5,219.0,717000,as new,NaN,4.0,NaN,no,NaN,8000,760.0,0,0,NaN,house,house,0,0
4,6,156.0,429000,good,4.0,4.0,installed,no,NaN,8800,419.0,0,0,NaN,house,villa,1,90

In [5]:
del df['Unnamed: 0']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10092 entries, 0 to 10091
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Area [m²]                 8356 non-null   float64
 1   Price [€]                 10092 non-null  object
 2   state of the building     6976 non-null   object
 3   number of facades         7754 non-null   float64
 4   number of bedrooms        9940 non-null   float64
 5   fully equipped kitchen    6669 non-null   object
 6   furnished                 7069 non-null   object
 7   open fire                 746 non-null    float64
 8   locality [zip code]       10092 non-null  int64
 9   surface of the land [m²]  10092 non-null  float64
 10  terrace                   10092 non-null  int64
 11  terrace surface [m²]      10092 non-null  int64
 12  swimming pool             400 non-null    object
 13  type of property          10092 non-null  object
 14  subtype of property       10092 non-null  object
 15  garden                    10092 non-null  int64
 16  garden surface [m²]       10092 non-null  int64
dtypes: float64(5), int64(5), object(7)
memory usage: 1.3+ MB

In [7]:
df = df.dropna(subset=['Area [m²]'])

In [8]:
df.columns = ['Area','Price','State_of_building','Facades','Bedrooms','Kitchen','Furnished','Open_fire','Zip_code','Land_surface', 'Terrace','Terrace_surface', 'Swimming_pool', 'Type_property','Subtype_property', 'Garden', 'Garden_surface']

In [9]:
def change_state_building(x):
    if x =='as new':
        return 'As new'
    elif x == 'just renovated':
        return 'Just renovated'
    elif x == 'good':
        return 'Good'
    elif x in ['to renovate','to be done up','to restore']:
        return 'To be done up'
    else:
        return x

In [10]:
df['State_of_building'] = df['State_of_building'].apply(lambda x: change_state_building(x))

In [11]:
df.head()

,Area,Price,State_of_building,Facades,Bedrooms,Kitchen,Furnished,Open_fire,Zip_code,Land_surface,Terrace,Terrace_surface,Swimming_pool,Type_property,Subtype_property,Garden,Garden_surface
0,123.0,200000,Good,3.0,2.0,installed,no,NaN,3294,429.0,0,0,NaN,house,house,1,350
1,255.0,698000,Just renovated,4.0,4.0,installed,no,NaN,2070,1210.0,0,0,NaN,house,villa,0,0
2,234.0,499000,As new,NaN,5.0,NaN,NaN,NaN,8800,744.0,0,0,NaN,house,villa,0,0
3,219.0,717000,As new,NaN,4.0,NaN,no,NaN,8000,760.0,0,0,NaN,house,house,0,0
4,156.0,429000,Good,4.0,4.0,installed,no,NaN,8800,419.0,0,0,NaN,house,villa,1,90

In [12]:
def change_kitchen_type(x):
    if x in ['hyper equipped','usa hyper equipped']:
        return 'Hyper equipped'
    elif x in ['semi equipped','usa semi equipped']:
        return 'Semi equipped'
    elif x in ['installed','usa installed']:
        return 'Installed'
    elif x in ['not installed','usa uninstalled']:
        return 'Not installed'

In [13]:
df['Kitchen'] = df['Kitchen'].apply(lambda x: change_kitchen_type(x))

In [14]:
def change_furnished(x):
    if x == 'yes':
        return 'Yes'
    else:
        return 'No'

In [15]:
df['Furnished'] = df['Furnished'].apply(lambda x: change_furnished(x))

In [16]:
display(df[df['Open_fire']!= None])

,Area,Price,State_of_building,Facades,Bedrooms,Kitchen,Furnished,Open_fire,Zip_code,Land_surface,Terrace,Terrace_surface,Swimming_pool,Type_property,Subtype_property,Garden,Garden_surface
0,123.0,200000,Good,3.0,2.0,Installed,No,NaN,3294,429.0,0,0,NaN,house,house,1,350
1,255.0,698000,Just renovated,4.0,4.0,Installed,No,NaN,2070,1210.0,0,0,NaN,house,villa,0,0
2,234.0,499000,As new,NaN,5.0,None,No,NaN,8800,744.0,0,0,NaN,house,villa,0,0
3,219.0,717000,As new,NaN,4.0,None,No,NaN,8000,760.0,0,0,NaN,house,house,0,0
4,156.0,429000,Good,4.0,4.0,Installed,No,NaN,8800,419.0,0,0,NaN,house,villa,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10085,254.0,499000,As new,4.0,3.0,Hyper equipped,No,NaN,4280,1726.0,1,140,NaN,house,house,1,1625
10086,65.0,129500,Good,2.0,2.0,Installed,No,NaN,4040,190.0,0,0,NaN,house,house,1,145
10088,135.0,75000,Good,2.0,2.0,Semi equipped,No,NaN,7390,421.0,0,0,NaN,house,house,1,421
10089,107.0,165239,As new,4.0,2.0,None,No,NaN,4470,331.0,0,0,NaN,house,house,1,150
10090,200.0,580000,As new,4.0,3.0,None,No,NaN,9290,987.0,0,0,NaN,house,house,0,0

In [17]:
def change_open_fire(x):
    if math.isnan(x):
        return 'No'
    else:
        return 'Yes'

In [18]:
df['Open_fire'] = df['Open_fire'].apply(lambda x: change_open_fire(x))

In [19]:
df.head()

,Area,Price,State_of_building,Facades,Bedrooms,Kitchen,Furnished,Open_fire,Zip_code,Land_surface,Terrace,Terrace_surface,Swimming_pool,Type_property,Subtype_property,Garden,Garden_surface
0,123.0,200000,Good,3.0,2.0,Installed,No,No,3294,429.0,0,0,NaN,house,house,1,350
1,255.0,698000,Just renovated,4.0,4.0,Installed,No,No,2070,1210.0,0,0,NaN,house,villa,0,0
2,234.0,499000,As new,NaN,5.0,None,No,No,8800,744.0,0,0,NaN,house,villa,0,0
3,219.0,717000,As new,NaN,4.0,None,No,No,8000,760.0,0,0,NaN,house,house,0,0
4,156.0,429000,Good,4.0,4.0,Installed,No,No,8800,419.0,0,0,NaN,house,villa,1,90

In [20]:
def change_swimming_pool(x):
    if x is True:
        return "Yes"
    else:
        return "No"

In [21]:
df['Swimming_pool'] = df['Swimming_pool'].apply(lambda x: change_swimming_pool(x))

In [22]:
def yes_no(x):
    if x == 1:
        return 'Yes'
    elif x == 0:
        return 'No'

In [23]:
df['Terrace'] = df['Terrace'].apply(lambda x: yes_no(x))

In [24]:
df['Garden'] = df['Garden'].apply(lambda x: yes_no(x))

In [25]:
def zip_to_province(x):
    flanders = "Flanders"
    wallonia = "Wallonia"
    if x in range(1000,1300):
        return "Brussels"
    elif x in range(1300,1500):
        return wallonia
    elif x in range(1500,4000):
        return flanders
    elif x in range(4000,8000):
        return wallonia
    elif x in range(8000,10000):
        return flanders


df["Regions"] = df["Zip_code"].apply(lambda x: zip_to_province(x))

In [26]:
df.isnull().sum()

Area                    0
Price                   0
State_of_building    2152
Facades              1690
Bedrooms               64
Kitchen              2417
Furnished               0
Open_fire               0
Zip_code                0
Land_surface            0
Terrace                 0
Terrace_surface         0
Swimming_pool           0
Type_property           0
Subtype_property        0
Garden                  0
Garden_surface          0
Regions                 0
dtype: int64

In [27]:
price_no = df[df['Price'] == 'no'].index
df.drop(price_no , inplace=True)

In [28]:
def to_int(x):
    return int(x)

In [29]:
df['Price'] = df['Price'].apply(lambda x: to_int(x))

In [30]:
df.isnull().sum()

Area                    0
Price                   0
State_of_building    2138
Facades              1684
Bedrooms               64
Kitchen              2412
Furnished               0
Open_fire               0
Zip_code                0
Land_surface            0
Terrace                 0
Terrace_surface         0
Swimming_pool           0
Type_property           0
Subtype_property        0
Garden                  0
Garden_surface          0
Regions                 0
dtype: int64

In [31]:
df = df.drop('Type_property', axis=1)

In [32]:
df = df.reset_index(drop=True)

In [33]:
df.describe()

,Area,Price,Facades,Bedrooms,Zip_code,Land_surface,Terrace_surface,Garden_surface
count,8333.000000,8.333000e+03,6649.000000,8269.000000,8333.000000,8333.000000,8333.000000,8.333000e+03
mean,234.560062,5.167265e+05,2.973680,3.716894,5583.418217,1599.959318,14.115205,6.019627e+02
std,214.825653,6.241331e+05,0.855047,1.839017,3048.153869,16085.755122,222.952901,1.657176e+04
min,30.000000,2.500000e+03,1.000000,1.000000,1000.000000,1.000000,0.000000,0.000000e+00
25%,140.000000,2.499900e+05,2.000000,3.000000,2610.000000,194.000000,0.000000,0.000000e+00
50%,180.000000,3.400000e+05,3.000000,3.000000,6020.000000,380.000000,0.000000,0.000000e+00
75%,260.000000,5.150000e+05,4.000000,4.000000,8580.000000,859.000000,15.000000,1.000000e+02
max,10500.000000,9.500000e+06,16.000000,50.000000,9992.000000,907540.000000,20194.000000,1.134500e+06

In [34]:
df['Price_per_square_meter'] = round((df['Price']/df['Area']), 2)

In [35]:
df.head()

,Area,Price,State_of_building,Facades,Bedrooms,Kitchen,Furnished,Open_fire,Zip_code,Land_surface,Terrace,Terrace_surface,Swimming_pool,Subtype_property,Garden,Garden_surface,Regions,Price_per_square_meter
0,123.0,200000,Good,3.0,2.0,Installed,No,No,3294,429.0,No,0,No,house,Yes,350,Flanders,1626.02
1,255.0,698000,Just renovated,4.0,4.0,Installed,No,No,2070,1210.0,No,0,No,villa,No,0,Flanders,2737.25
2,234.0,499000,As new,NaN,5.0,None,No,No,8800,744.0,No,0,No,villa,No,0,Flanders,2132.48
3,219.0,717000,As new,NaN,4.0,None,No,No,8000,760.0,No,0,No,house,No,0,Flanders,3273.97
4,156.0,429000,Good,4.0,4.0,Installed,No,No,8800,419.0,No,0,No,villa,Yes,90,Flanders,2750.00

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8333 entries, 0 to 8332
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Area                    8333 non-null   float64
 1   Price                   8333 non-null   int64
 2   State_of_building       6195 non-null   object
 3   Facades                 6649 non-null   float64
 4   Bedrooms                8269 non-null   float64
 5   Kitchen                 5921 non-null   object
 6   Furnished               8333 non-null   object
 7   Open_fire               8333 non-null   object
 8   Zip_code                8333 non-null   int64
 9   Land_surface            8333 non-null   float64
 10  Terrace                 8333 non-null   object
 11  Terrace_surface         8333 non-null   int64
 12  Swimming_pool           8333 non-null   object
 13  Subtype_property        8333 non-null   object
 14  Garden                  8333 non-null   object
 15  Garden_surface          8333 non-null   int64
 16  Regions                 8333 non-null   object
 17  Price_per_square_meter  8333 non-null   float64
dtypes: float64(5), int64(4), object(9)
memory usage: 1.1+ MB

In [37]:
df.to_csv('house_data_ultimate_cleaned')