In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_origin = pd.read_csv('final_list_houses_dataset.csv')

In [3]:
df = df_origin.copy()

In [4]:
df.head()

,Unnamed: 0,Area [m²],Price [€],state of the building,number of facades,number of bedrooms,fully equipped kitchen,furnished,open fire,locality [zip code],surface of the land [m²],terrace,terrace surface [m²],swimming pool,type of property,subtype of property,garden,garden surface [m²]
0,0,123.0,200000,good,3.0,2.0,installed,no,NaN,3294,429.0,0,0,NaN,house,house,1,350
1,3,255.0,698000,just renovated,4.0,4.0,installed,no,NaN,2070,1210.0,0,0,NaN,house,villa,0,0
2,4,234.0,499000,as new,NaN,5.0,NaN,NaN,NaN,8800,744.0,0,0,NaN,house,villa,0,0
3,5,219.0,717000,as new,NaN,4.0,NaN,no,NaN,8000,760.0,0,0,NaN,house,house,0,0
4,6,156.0,429000,good,4.0,4.0,installed,no,NaN,8800,419.0,0,0,NaN,house,villa,1,90

In [5]:
del df['Unnamed: 0']

In [6]:
df = df.dropna(subset=['Area [m²]'])

In [7]:
df.columns = ['area','price','state_of_building','facades','bedrooms','fully_equipped_kitchen','furnished','open_fire','zip_code','land_surface', 'terrace','terrace_surface', 'swimming_pool', 'type_property','subtype_property', 'garden', 'garden_surface']

In [8]:
df = df.reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356 entries, 0 to 8355
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   area                    8356 non-null   float64
 1   price                   8356 non-null   object
 2   state_of_building       6204 non-null   object
 3   facades                 6666 non-null   float64
 4   bedrooms                8292 non-null   float64
 5   fully_equipped_kitchen  5939 non-null   object
 6   furnished               6265 non-null   object
 7   open_fire               703 non-null    float64
 8   zip_code                8356 non-null   int64
 9   land_surface            8356 non-null   float64
 10  terrace                 8356 non-null   int64
 11  terrace_surface         8356 non-null   int64
 12  swimming_pool           382 non-null    object
 13  type_property           8356 non-null   object
 14  subtype_property        8356 non-null   object
 15  garden                  8356 non-null   int64
 16  garden_surface          8356 non-null   int64
dtypes: float64(5), int64(5), object(7)
memory usage: 1.1+ MB

In [10]:
def change_state_building(x):
    if x in ['to renovate','to be done up','to restore']:
        return 'to be done up'
    else:
        return x

In [11]:
df['state_of_building'] = df['state_of_building'].apply(lambda x: change_state_building(x))

In [12]:
def change_kitchen_type(x):
    if x in ['installed','usa installed']:
        return 'installed'
    elif x in ['hyper equipped','usa hyper equipped']:
        return 'hyper equipped'
    elif x in ['semi equipped','usa semi equipped']:
        return 'semi equipped'
    elif x in ['not installed','usa uninstalled']:
        return 'not installed'

In [13]:
df['fully_equipped_kitchen'] = df['fully_equipped_kitchen'].apply(lambda x: change_kitchen_type(x))

In [14]:
def change_furnished(x):
    if x == 'yes':
        return 'yes'
    elif x == 'no':
        return 'no'
    else:
        return 'no'

In [15]:
df['furnished'] = df['furnished'].apply(lambda x: change_furnished(x))

In [16]:
print(df['garden'].value_counts())

0    5507
1    2849
Name: garden, dtype: int64

In [18]:
def change_open_fire(x):
    if x is None:
        return 'no'
    else:
        return 'yes'

In [19]:
df['open_fire_YN'] = df['open_fire'].apply(lambda x: change_open_fire(x))

In [20]:
def change_swimming_pool(x):
    if x is True:
        return 'yes'
    else:
        return 'no'

In [21]:
df['swimming_pool'] = df['swimming_pool'].apply(lambda x: change_swimming_pool(x))

In [23]:
def none_zero(x):
    if x == 0:
        return 'no'
    elif x == 1:
        return 'yes'

In [24]:
df['terrace'] = df['terrace'].apply(lambda x: none_zero(x))

In [25]:
df['garden'] = df['garden'].apply(lambda x: none_zero(x))

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356 entries, 0 to 8355
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   area                    8356 non-null   float64
 1   price                   8356 non-null   object
 2   state_of_building       6204 non-null   object
 3   facades                 6666 non-null   float64
 4   bedrooms                8292 non-null   float64
 5   fully_equipped_kitchen  5939 non-null   object
 6   furnished               8356 non-null   object
 7   open_fire               703 non-null    float64
 8   zip_code                8356 non-null   int64
 9   land_surface            8356 non-null   float64
 10  terrace                 8356 non-null   object
 11  terrace_surface         8356 non-null   int64
 12  swimming_pool           8356 non-null   object
 13  type_property           8356 non-null   object
 14  subtype_property        8356 non-null   object
 15  garden                  8356 non-null   object
 16  garden_surface          8356 non-null   int64
 17  open_fire_YN            8356 non-null   object
dtypes: float64(5), int64(3), object(10)
memory usage: 1.1+ MB

In [29]:
def float_to_int(x):
    try:
        return int(x)
    except:
        return x

In [30]:
df['facades_int'] = df['facades'].apply(lambda x: float_to_int(x))

In [32]:
df.to_csv('house_data_cleaned')